
/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

	overflow-x: hidden !important;  
    overflow-y: scroll;                 
	font-family: 'Open Sans', sans-serif;
	color: black;
	font-size: .95em;
    font-weight: 400;
    line-height: 23px;
    color: #4f6466;
    background-color: #fff;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
}


h1 span {
	display: none;
}

h2, h3{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 7px;
    text-align: center;
}



li {
    list-style: none;
}

a {
    color: #4f6466;
    text-decoration: none;
}



/*.devider {
    width: 20px;
    margin-bottom: 40px;
    border-bottom: 3px solid #bd9f86;
}*/



.padding-section {
    padding: 60px;
    
}

.padding-recuadro{
	padding: 30px;
}

 .marco{
    padding: 35px;
    border: 1px  white;
    background-color: rgba(255,255,255,0.2);
    color: white;
    text-align: center;

}

.blanco {
	color:white;
}


/*------------------------------------------------------
BARRA DE NAVEGADOR
------------------------------------------------------*/

nav {
	width: auto;
	height: 110px;	
	background-color: #4f6466;
}


nav img {
	height: 90px;
    margin-left: 20px;
    margin-top: 15px;

}


nav ul {
	float: right;
	margin: 20px;
	

}

nav li {
	display: inline-block;	
	letter-spacing: 2px;	
	text-transform: uppercase;
}

nav a {
	color:#ccc;
    line-height: 60px;
    padding: 0 10px;
    display: block;
    font-size: .9em;
}


.flaticon-arrows::before {
    color: white;
    font-size: 3em !important;
    text-align: center;
    padding-bottom: 50px;
    padding-top:250px;
    display: block;
}

/*------------------------------------------------------
HERO
------------------------------------------------------*/

#hero{

	text-align: center;
    background: url("../img/background/bg_silla2.jpg") no-repeat fixed center / cover;
    

}






/*------------------------------------------------------
TRATAMIENTOS
------------------------------------------------------*/


#tratamientos .flaticon-tooth-4::before {
    color: #3bbeb3; 
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
}


#tratamientos .flaticon-implants::before {
    color: #8fc964; 
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;

}

#tratamientos .flaticon-tooth-3::before {
    color: #8fc964;
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
}

#tratamientos .flaticon-braces::before {
    color: #3bbeb3;
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
}
/*------------------------------------------------------
ASEGURADORAS
------------------------------------------------------*/

#aseguradoras  img{
	width: 40px;
	display: block;
	float:left;

}

#aseguradoras{

	text-align: center;
    background: url("../img/background/bg_titulos2.jpg") no-repeat fixed center / cover;
}





/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/

#contacto .flaticon-send::before {
    color: black;
    font-size: 1.5em !important;
 	display: block;
 	float:left;
 	padding-right: 10px;
}

#contacto .flaticon-telephone::before {
    color: black;
    font-size: 1.5em !important;	
    display: block;
    float:left;
    padding-right: 10px;
}

#contacto .flaticon-clock::before {
    color: black;
    font-size: 1.5em !important;
   display: block;
   float:left;
   padding-right: 10px;

}


/*------------------------------------------------------
FOOTER
------------------------------------------------------*/

footer img{

	width: 50px;
	

}


@media screen and (max-width: 870px) {

    nav > ul {
        display: none;
    }