
/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Open Sans', sans-serif;
  	font-size: .95em;
    font-weight: 400;
    line-height: 23px;
    color: #002e43;
    background-color: #eee;
}

aside{

    font-size: .9em;

}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    font-size: 1em;

    }


h1 span {
	display: none;
  color: #002e43;
  font-size:0.95em;
}

h2, h3{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    letter-spacing:10px;
}


h2 {
    font-size: 2em;
    font-weight: 600;
    line-height: 4em;
}

h3 {
    font-size: 1em;
    letter-spacing: 6px;
    text-align: center;
    line-height: 1.4em;
    font-weight: 300;

}

h4 {
    font-size: 1.1em;
    letter-spacing: 5px;
    text-align: left;
}



.padding-section {
    padding: 60px;
    
}


.overlay {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.spinner {
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    position: absolute;
    height: 120px;
    width: 120px;
    animation: rotate 2s infinite linear;
    
    border-right-color: transparent;
    border-radius: 100%;
    background: url("../img/logo/logo_spinner.png") no-repeat center / cover;

  }

@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}


.flaticon-arrows::before {
    font-size: 3em !important;
    display: block;
    color: #002e43;
    float:none;
    text-align:center;
    padding: 60px 1px;

}

.element {
    animation: aparece 1s 1s infinite linear alternate;
}

@keyframes aparece {

    from{opacity: 0;}

    to {opacity: 1; }
    }


/*------------------------------------------------------
HERO
------------------------------------------------------*/
.hero{

  background: url("../img/background/bg_toothpaste.jpg") no-repeat fixed center top / cover;
  height: 100vh;
  position: relative;

  }   

.hero::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(238,238,238,.4);

  }

.barras {
        display: none;
        cursor: pointer;
        position: fixed;
        top: 0px;
        right: 20px;
        font-size: 3em;
  
      }

 nav{
  	width: 100%;
  	height: 100px;
    background: rgba(238,238,238,.4);	
    letter-spacing: 2px;
    top: 0;
    left:0;
    transition: all .5s;
    position: fixed;
    z-index:2;

  }

 nav img {
	  height: 95px;
    margin-left: 15px;
    margin-top: 0px;


}

 nav ul {
  	float: right;
  	margin-right: 20px;
}


 nav li {
  	display: inline-block;	
    list-style: none;

}


nav li a {
	  color:#002e43;
    line-height: 60px;
    padding: 17px 10px;
    display: block;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-decoration:none;
}

/*------------------------------------------------------
INICIO
------------------------------------------------------*/

#inicio span{
    font-family: "Dosis", sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 1.7em;
    font-weight:700;

}

.paddingExtra{

  padding-top: 180px;
}

#escrito {
    display: inline-block;
    color: #eee;
    text-shadow: 0 0 3px #002e43, 0 0 3px #002e43, 0 0 3px #002e43;
}


.typed-cursor {
    font-size: 1.5em;
    margin-left: 1px
}



.breadcrumbs {
  margin: 50px;
  
  }

.breadcrumbs li {
  display: inline-block;
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  }

.breadcrumbs li::after {
  content: " / ";
  margin: 0 10px;
  opacity: .4;
 }

 .breadcrumbs li:last-of-type::after {
  content: "";   
  }

  .breadcrumbs li a {
        color: #002e43;
        text-shadow: 0 0 5px #eee, 0 0 5px #eee, 0 0 5px #eee;
  }
/*------------------------------------------------------
NOSOTROS
------------------------------------------------------*/

#nosotros ul{

  display: inline-block;
  text-align: left;
  line-height: 50px;
  color: #eee;
  padding-bottom:50px;
  

}


#nosotros li{

  list-style: none;

}

.asimetrico {
  color: #fff;
  padding: 60px 0;
  text-align: center;
  background: #3b5998;
  position: relative;
  z-index: 1;

}

.inferior{

  padding: 40px;
  margin-right:10px;

}

.asimetrico:before, .asimetrico:after {
    background: inherit;
    content: '';
    height: 50%;
    width: 100%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
}
.asimetrico:before {
    top: 0;
    transform: skewY(-4deg);
    transform-origin: 100% 0;
}
 
.asimetrico:after {
    bottom: 0;
    transform: skewY(-3deg);
    transform-origin: 100%;
}
/*------------------------------------------------------
TRATAMIENTOS
------------------------------------------------------*/

#tratamientos{

  background-color: #fff;
}

#tratamientos [class^="flaticon-"]::before {
     color: #007db6;
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
    line-height: 1em;

}

.boton {
    
    display: inline-block;
    padding: 10px;
    transition: all 1s cubic-bezier(.33,.62,.38,.97);
    color: #002e43; 
    text-align:center;
    margin-top: 10px;
    overflow:hidden;   
    border: 2px solid rgba(0,46,67,.1)
  }
    

.boton.naranja {
    background: orange;
    color:#eee;
}

  .boton:hover {
    
    background-color: rgba(59, 89, 152, 0.2);
    padding: 50px auto;
    border: 3px solid rgba(0,46,67,.5)

  }

#tratamientos .boton {
    opacity: 0;
    padding:  50px auto;
    transition: all .7s;
    min-height: 280px;
}

#tratamientos .boton.visible {
    opacity: 1;
    padding: 40px auto;
    
}


/*------------------------------------------------------
ASEGURADORAS
------------------------------------------------------*/


#aseguradoras{

  text-align: center;
  background: url("../img/background/bg_silla.jpg") no-repeat fixed center / cover;
  position: relative;
  padding: 100px 0;

}

#aseguradoras::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(238,238,238,.6);

}

 #aseguradoras p, #aseguradoras h2 {
  
  text-shadow: 0 0 8px #eee, 0 0 8px #eee, 0 0 8px #eee;
  }

 #aseguradoras p {
  font-size:1.1em;
  
  }

/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/
#contacto{
background-color: #fff;


}





#contacto [class^="flaticon-"]::before {
    color: #002e43;
    font-size: 2em !important;
    display: block;
    float:left;
    padding-top: 25px;

}


#contacto article .devider {
    width: 70%;
    margin: 35px 5%;
    border-bottom: 1px solid rgba(0,46,67,.2);
}


#contacto article ul{

  display: inline-block;
  list-style: none;
}




/*------------------------------------------------------
FOOTER
------------------------------------------------------*/
footer a {
    color: #002e43;
}

footer img{

	width: 70px;
  float: none;
  margin: 20px auto;
  display: block;
}

footer small p{

  line-height: .5em;
}

footer{
    background: rgba(238,238,238,.4);
}

/*------------------------------------------------------
AVISO LEGAL
------------------------------------------------------*/
#avisolegal.padding-section {
    padding: 100px;  
}

#avisolegal li{
  padding:10px;
}

#avisolegal h1, #avisolegal h2{
  text-align: left;
  text-transform: none;
  margin-bottom: 10px;
}

#avisolegal h1{
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 600;
}

#avisolegal h2{

  line-height: 7px;
  font-size: 1.2em;
  letter-spacing: .6px;
  font-weight: 600;

}



@media screen and (max-width: 800px) {

  .barras {
    display: block;
    z-index: 3;
  }

  nav {
    width: 300px;
    height: 100vh;
    border-right: 1px solid #999;
    transition: all .5s;
    transform: translateX(-100%);
    background:#eee;

  }

  nav.abierto {
    transform: translateX(0);
    z-index:2;
    
  }

  nav ul {
    float: none;
    margin: 0;
    padding: 0
  }

  nav li {
    display: block;
    list-style: none;
    text-align: center;
    width: 300px;
  }

  nav img{

    margin-left: 110px;

  }

  iframe{

    float: none;
    margin: 0;
    display: block;
    text-align: center;
    width: 100%;
    

  }
    

  .padding-section{
    padding:40px;
  }


  .flaticon-arrows::before {
    font-size: 2em !important;
    padding-top: 100px;

  }

  #inicio span{

    font-size: 1.3em;
    text-align:justify;

  }


  .breadcrumbs {

    display:none;

  }

#aseguradoras p {

    font-size: 1em;

    }


  h2 {
    font-size: 1.4em;

  }

  #contacto [class^="flaticon-"]::before {
    font-size: 1.8em !important;
    padding:10px;

  }

  #contacto article .devider {
    display: none;
  }


}





    /*colores---------*/

    /*#92c9fe azul muy claro

    /*#007db6 azul claro*/ 

    /*#002e43 azul oscuro*/ 

    /*#4f6466 gris letras*/ 


    /*: color: #3bbeb3;*/



    