
/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/
body {

    overflow-x: hidden !important;  
    overflow-y: scroll;                 
  	font-family: 'Open Sans', sans-serif;
  	font-size: .95em;
    font-weight: 400;
    line-height: 23px;
    color: #002e43;
    background-color: #fff;
}

p {
    font-family: "Open Sans", sans-serif;
    line-height: 2em;
    }


h1 span {
	display: none;
}

h2, h3{
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}


h2 {
    font-size: 1.5em;
    margin-bottom: 40px;
    font-weight: 400;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 7px;
    text-align: center;

}

h4 {
    font-size: 1.1em;
    letter-spacing: 5px;
    text-align: left;
}



nav .li {
    list-style: none;
}

a {
    color: #002e43;
    
}



.padding-section {
    padding: 60px;
    
}


 .marco{
    padding: 35px;
    border: 1px  white;
    background-color: rgba(255,255,255,0.8);
    color: #002e43;
    text-align: center;

}

.blanco {
	color:white;
}


/*------------------------------------------------------
BARRA DE NAVEGADOR
------------------------------------------------------*/

nav {
	width: auto;
	height: 110px;	
	background-color: #27aae2;
}


nav img {
	height: 90px;
    margin-left: 20px;
    margin-top: 15px;

}


nav ul {
	float: right;
	margin: 20px;
	

}

nav li {
	display: inline-block;	
	letter-spacing: 2px;	
	text-transform: uppercase;
}

nav a {
	 color:white;
    line-height: 60px;
    padding: 0 10px;
    display: block;
    font-size: .9em;
}


.flaticon-arrows::before {
    color: white;
    font-size: 3em !important;
    text-align: center;
    padding-bottom:20px;
    padding-top:100px;
    display: block;
}

.element {
    animation: aparece 3s 1s infinite linear alternate;
}

@keyframes aparece {

  from{
        opacity: 0;
      }

  to {
        opacity: 1;
      }
  }

/*------------------------------------------------------
CLAIM
------------------------------------------------------*/

/*svg {
  width: 50%;
  display: block;
  margin: 0 auto;
}
 
svg path {
  fill: #4f6466;
  stroke: #4f6466;
  stroke-width: .5;
  animation: trazar 2s ease-out infinite forwards;  
}
      
#sonrisa {
  stroke-dasharray: 77.18;  
  stroke-dashoffset: 77.18;
  transition: stroke-dashoffset 6s ease-in;
}
 
#estrella {
  stroke-dasharray: 7.21;
  stroke-dashoffset: 7.21;
  transition: stroke-dashoffset 3s ease-in;
}
 
 
@keyframes trazar {

  70% {
      stroke-width: 2;
      opacity: 1;
  }
  100% {
    opacity: .1;
    stroke-dashoffset: 0;
  }
}
*/

#claim [class^="flaticon-"]::before {
    color: #002e43; 
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
    line-height: 1em;
}


/*------------------------------------------------------
NOSOTROS
------------------------------------------------------*/

#nosotros{

  
  background: url("../img/background/bg_titulos3.jpg") no-repeat fixed center / cover;
   
}

#nosotros ul{

  display: inline-block;
  list-style: none;
  text-align: left;
  line-height: 30px;
  color: #002e43;

}



/*------------------------------------------------------
TRATAMIENTOS
------------------------------------------------------*/


#tratamientos [class^="flaticon-"]::before {
     color: #007db6;
    font-size: 3em !important;
    text-align: center;
    padding-bottom:15px;
    display: block;
    line-height: 1em;

}


    /*: color: #3bbeb3;*/

.boton {
    
    color: #002e43;
    display: inline-block;
    padding: 15px;
    transition: all 1s cubic-bezier(.33,.62,.38,.97);
    text-align: justify;



}


.boton:hover {
    
    
    padding: 50px 100px;
    background-color: rgba(0, 46, 67, 0.8);
    text-align:left;
    color: white;

  }

.boton.blanco {
    background-color: rgba(255, 255, 255, 0.8);
    color: #002e43;
}




/*------------------------------------------------------
ASEGURADORAS
------------------------------------------------------*/


#aseguradoras{

  text-align: center;
  background: url("../img/background/bg_silla3.jpg") no-repeat fixed center / cover;
  
}



/*------------------------------------------------------
CONTACTO
------------------------------------------------------*/
#contacto [class^="flaticon-"]::before {
    color: #002e43;
    font-size: 2em !important;
    display: block;
    float:left;
    padding: 10px;
}


#contacto article .devider {
    width: 60%;
    margin: 20px 20%;
    border-bottom: 1px solid rgba(0,0,0,.2);
}


#contacto article ul{

  display: inline-block;
  list-style: none;
}




/*------------------------------------------------------
FOOTER
------------------------------------------------------*/

footer{

  background-color: #27aae2 ;
  
}

/*#007db6*/

footer a {
    color: #fff;
}

footer img{

	width: 60px;
  float: none;
  margin: 20px auto;
  display: block;
}

@media screen and (max-width: 870px) {

    nav > ul {
        display: none;

        }

    iframe{

        float: none;
        margin: 40px 10%;
        display: block;
        text-align: center;
        padding:20px 0;
        width: 80%;

      
       }
    
    .boton:hover {

    padding: 15px 40px;
   

  }


    /*colores---------*/

    /*#92c9fe azul muy claro

    /*#007db6 azul claro*/ 

    /*#002e43 azul oscuro*/ 

    /*#4f6466 gris letras*/ 

    