    /*
    Flaticon icon font: Flaticon
    Creation date: 15/10/2017 23:29
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-tooth-4:before { content: "\f100"; }
.flaticon-prosthesis:before { content: "\f101"; }
.flaticon-implants-1:before { content: "\f102"; }
.flaticon-apple:before { content: "\f103"; }
.flaticon-boy:before { content: "\f104"; }
.flaticon-girl:before { content: "\f105"; }
.flaticon-doctor-2:before { content: "\f106"; }
.flaticon-brushing-teeth:before { content: "\f107"; }
.flaticon-consult:before { content: "\f108"; }
.flaticon-implants:before { content: "\f109"; }
.flaticon-lips:before { content: "\f10a"; }
.flaticon-dentist:before { content: "\f10b"; }
.flaticon-tooth-3:before { content: "\f10c"; }
.flaticon-tooth-2:before { content: "\f10d"; }
.flaticon-tooth-1:before { content: "\f10e"; }
.flaticon-braces:before { content: "\f10f"; }
.flaticon-doctor-1:before { content: "\f110"; }
.flaticon-tooth:before { content: "\f111"; }
.flaticon-chair:before { content: "\f112"; }
.flaticon-toothbrush:before { content: "\f113"; }
.flaticon-doctor:before { content: "\f114"; }
.flaticon-clock:before { content: "\f115"; }
.flaticon-send:before { content: "\f116"; }
.flaticon-arrows:before { content: "\f117"; }
.flaticon-telephone:before { content: "\f118"; }
    
    $font-Flaticon-tooth-4: "\f100";
    $font-Flaticon-prosthesis: "\f101";
    $font-Flaticon-implants-1: "\f102";
    $font-Flaticon-apple: "\f103";
    $font-Flaticon-boy: "\f104";
    $font-Flaticon-girl: "\f105";
    $font-Flaticon-doctor-2: "\f106";
    $font-Flaticon-brushing-teeth: "\f107";
    $font-Flaticon-consult: "\f108";
    $font-Flaticon-implants: "\f109";
    $font-Flaticon-lips: "\f10a";
    $font-Flaticon-dentist: "\f10b";
    $font-Flaticon-tooth-3: "\f10c";
    $font-Flaticon-tooth-2: "\f10d";
    $font-Flaticon-tooth-1: "\f10e";
    $font-Flaticon-braces: "\f10f";
    $font-Flaticon-doctor-1: "\f110";
    $font-Flaticon-tooth: "\f111";
    $font-Flaticon-chair: "\f112";
    $font-Flaticon-toothbrush: "\f113";
    $font-Flaticon-doctor: "\f114";
    $font-Flaticon-clock: "\f115";
    $font-Flaticon-send: "\f116";
    $font-Flaticon-arrows: "\f117";
    $font-Flaticon-telephone: "\f118";